

/**
*	Title Section
**/


#headerWrapper h3 {
	float: right;
	margin-top: 60px;
}

#headerWrapper p {
	float: right;
	clear: right;
}


/**
*	Input Section
**/

#mainInput {
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	height: 190px;
	clear: both;
	background-color: #eeeeee;
}

#leftInput {
	float: left;
	width: 300px;
}

#leftInput p{
	float: left;
	clear: left;
	margin-top: 17px;
	margin-bottom: 0px;
	margin-left: 5px;
}

#leftInput span{
	margin-top: 12px;
	float: right;
}

#rightInput {
	width: 310px;
	float: right;
}

#rightInput textarea {
	height: 150px;
	width: 300px;
}

#checkBoxes {
	float: right;
	clear: right;
}

#checkBoxes * {
	float: right;
}


/**
*	Examples
**/

.example {
	float: left;
	height: 160px;
	width: 160px;
	margin: 25px;
	padding-bottom:25px;
	border: 1px solid black;
	overflow: hidden;
}